In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.simplefilter('ignore')

In [2]:
data = pd.read_csv("Social_Network_Ads.csv")

In [3]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
data.shape

(400, 5)

In [5]:
data['Gender'].replace({'Male':0,'Female':1}, inplace=True)

In [6]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       0   19            19000          0
1  15810944       0   35            20000          0
2  15668575       1   26            43000          0
3  15603246       1   27            57000          0
4  15804002       0   19            76000          0

In [7]:
X = data.iloc[:,1:4]
y = data.iloc[:,-1]

In [8]:
X.shape

(400, 3)

In [9]:
y.shape

(400,)

In [10]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [11]:
X[['Age','EstimatedSalary']] = scaler.fit_transform(X[['Age','EstimatedSalary']])

In [12]:
X.head()

   Gender       Age  EstimatedSalary
0       0 -1.781797        -1.490046
1       0 -0.253587        -1.460681
2       1 -1.113206        -0.785290
3       1 -1.017692        -0.374182
4       0 -1.781797         0.183751

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [14]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()

In [15]:
clf.fit(X_train, y_train)

DecisionTreeClassifier()

In [16]:
y_pred = clf.predict(X_test)

In [17]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)

0.925

In [18]:
param_dist = {
    'criterion':['gini','entropy'],
    'max_depth':[1,2,3,4,5,6,7]
}

In [19]:
from sklearn.model_selection import GridSearchCV
grid = GridSearchCV(clf, param_grid=param_dist, cv=10, n_jobs=-1)

In [20]:
grid.fit(X_train,y_train)

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [1, 2, 3, 4, 5, 6, 7]})

In [21]:
grid.best_estimator_

DecisionTreeClassifier(max_depth=2)

In [22]:
grid.best_params_

{'criterion': 'gini', 'max_depth': 2}

In [25]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(criterion='gini', max_depth=2)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)

0.95